*~
*.pyc
build*
simulations

# hidden files/folders except .gitignore
.*
!.gitignore
!.gitlab-ci.yml
!tools/.headers_for_cmake.txt
!tools/.headers_for_c.txt
!test/ci/dockerfiles/ubuntu_18_04/.openmpi
!test/ci/dockerfiles/ubuntu_20_04/.openmpi

# additional gitignore directories
archive
bk_*
debug_*
kernels/*.pdf